[submodule "TaRDIS-DCR-Editor"]
	path = TaRDIS-DCR-Editor
	url = https://codelab.fct.unl.pt/di/research/tardis/wp3/TaRDIS-DCR-Editor
	ignore = dirty
[submodule "TaRDIS-DCR-Compiler"]
	path = TaRDIS-DCR-Compiler
	url = https://codelab.fct.unl.pt/di/research/tardis/wp3/TaRDIS-DCR-Compiler
	ignore = dirty
[submodule "TaRDIS-DCR-Runtime"]
	path = TaRDIS-DCR-Runtime
	url = https://codelab.fct.unl.pt/di/research/tardis/wp3/TaRDIS-DCR-Runtime
	ignore = dirty
[submodule "TaRDIS-DCR-Dashboard"]
	path = tardis-dcr-dashboard
	url = https://codelab.fct.unl.pt/di/research/tardis/wp3/tardis-dcr-dashboard
	ignore = dirty
[submodule "tardis-dcr-button-pi"]
	path = tardis-dcr-button-pi
	url = https://codelab.fct.unl.pt/di/research/tardis/wp3/tardis-dcr-button-pi
