[Unit]
Description=Tardis Demo GPIO (Interaction with RasPi)
After=tardis-demo-babel.service pigpiod.service
Wants=tardis-demo-babel.service pigpiod.service

[Service]
ExecStart=/usr/bin/python3 %h/TaRDIS-DCR-Demo/tardis-dcr-button-pi/src/Main_Demo.py <PARAMS>
WorkingDirectory=%h
StandardOutput=file:%h/tardis-demo-gpio.log

[Install]
WantedBy=default.target
